<!DOCTYPE html>
<html lang="en" class="font-lg" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<style>
    .footer-logo {
        width: 14%;
        height: auto;
    }
    @media (max-width: 768px) {
        .footer-logo {
            width: 50%;
        }
    }
</style>

<th:block th:fragment="footerFragment">
	<!-- Divider -->
    <div class="container"><div class="border-bottom border-primary border-2 opacity-1"></div></div>
    <!-- =======================
    Footer START -->
    <footer class="pb-5">
		<div class="container">
			<div class="row pt-5">
				<div class="col-lg-7 mx-auto text-center">
					<!-- Logo -->
					<img class="footer-logo" src="/images/footer_logo.png" style="width: 40%; height: auto;">			
					<p class="mt-3">주소: 인천광역시 계양구 계양문화로59번길 13, 1007호<br>대표: 이광희&emsp;사업자번호: 849-80-02439<br>대표전화: 032-543-5625&emsp;Fax: 032-543-5626</p>
			        
					<div class="mt-2">©2024 Youngbo. All rights reserved </div>
				</div>
			</div>
		</div>
	</footer>
    <!-- =======================
    Footer END -->
</th:block>
</html>