<!DOCTYPE html>
<html lang="en" class="font-lg" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<style>
    .center-logo {
        width: 14%;
        height: auto;
    }
    @media (max-width: 768px) {
        .center-logo {
            width: 50%;
        }
    }
    .custom-card {
    	border-radius: 0.7rem;
    	background-color: #F0FFFF; 
    	background-size: contain; 
    	background-position: 50% 50%; 
    	background-repeat: no-repeat;
    }

</style>

<body>



<!-- Offcanvas START -->
<div style="text-align: center; padding-top: 25px;">
    <img src="/images/center_logo.png" class="center-logo">
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
    <div class="offcanvas-header justify-content-end">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column pt-0">
        <div>
            <img class="light-mode-item my-3" src="/images/logo.svg" alt="logo">
            <img class="dark-mode-item my-3" src="/images/logo-light.svg" alt="logo">
            <p>The next-generation blog, news, and magazine theme for you to start sharing your stories today! </p>
            <!-- Nav START -->
            <ul class="nav d-block flex-column my-4">
                <li class="nav-item h5">
                    <a class="nav-link" href="index.html">센터소개</a>
                <li class="nav-item h5">
                    <a class="nav-link" href="about-us.html">노인장기요양보험</a>
                </li>
                <li class="nav-item h5">
                    <a class="nav-link" href="post-grid.html">재가방문서비스</a>
                </li>
                <li class="nav-item h5">
                    <a class="nav-link" href="contact-us.html">간병인</a>
                </li>
                <li class="nav-item h5">
                    <a class="nav-link" href="contact-us.html">커뮤니티</a>
                </li>
            </ul>
            <!-- Nav END -->
            <div class="bg-primary bg-opacity-10 p-4 mb-4 text-center w-100 rounded">
                <span>The Blogzine</span>
                <h3>Save on Premium Membership</h3>
                <p>Get the insights report trusted by experts around the globe. Become a Member Today!</p>
                <a href="#" class="btn btn-warning">View pricing plans</a>
            </div>
        </div>
        <div class="mt-auto pb-3">
            <!-- Address -->
            <p class="text-body mb-2 fw-bold">New York, USA (HQ)</p>
            <address class="mb-0">750 Sing Sing Rd, Horseheads, NY, 14845</address>
            <p class="mb-2">Call: <a href="#" class="text-body"><u>469-537-2410</u> (Toll-free)</a> </p>
            <a href="#" class="text-body d-block">hello@blogzine.com</a>
        </div>
    </div>
</div>
<!-- Offcanvas END -->

<!-- =======================
Header START -->
<header class="navbar-light navbar-sticky header-static">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand" href="index.html">
                <img class="navbar-brand-item light-mode-item" src="/images/yb_logo3.png" alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-body h6 d-none d-sm-inline-block">Menu</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Main navbar START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">

                    <!-- Nav item 1 Demos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="homeMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">센터소개</a>
                        <ul class="dropdown-menu" aria-labelledby="homeMenu">
                            <li> <a class="dropdown-item active" href="/introduce">인사말</a></li>
                            <li> <a class="dropdown-item" href="index-lazy.html">찾아오시는 길</a></li>
                        </ul>
                    </li>

                    <!-- Nav item 2 Pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">노인장기요양보험</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            <li> <a class="dropdown-item" href="about-us.html">노인장기요양보험</a></li>
                        </ul>
                    </li>

                    <!-- Nav item 3 Post -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">재가방문서비스</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="post-list.html">방문요양</a> </li>
                            <li> <a class="dropdown-item" href="post-list-2.html">방문목욕</a> </li>
                            <li> <a class="dropdown-item" href="post-cards.html">복지용구</a> </li>
                        </ul>
                    </li>
                    
                    <!-- Nav item 3 Post -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">간병인</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="post-list.html">실버/간병도우미</a> </li>
                            <li> <a class="dropdown-item" href="post-list-2.html">가사도우미</a> </li>
                        </ul>
                    </li>
                    
                    <!-- Nav item 3 Post -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="post-list.html">공지사항</a> </li>
                            <li> <a class="dropdown-item" href="post-list-2.html">포토갤러리</a> </li>
                            <li> <a class="dropdown-item" href="post-list-2.html">문의하기</a> </li>
                        </ul>
                    </li>


                </ul>
            </div>
            <!-- Main navbar END -->

        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main hero START -->
    <section class="pt-4 pb-0 card-grid">
        <div class="container">
            <div class="row g-4">
                
                <!-- Left big card -->
                <div class="col-lg-6">
				<div class="card card-overlay-bottom card-grid-lg card-bg-scale" style="background-image:url(/images/yb/main-img.jpg); background-position: center left; background-size: cover;">
					<!-- Card Image overlay -->
					<div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
						<div class="w-100 mt-auto">
							<!-- Card category -->
							<!-- Card title -->
							<h3 class="text-white h2">보건복지부지정 장기요양기관</h3>
							<p class="text-white">인천 전지역 방문요양서비스</br>85 ~ 100% 국비지원</p>
							<!-- Card info -->
						</div>
					</div>
				</div>
			</div>
			
			<!-- Right big card -->
                <div class="col-lg-6">
                    <div class="row g-4">
                        <!-- Card item START -->
                        <div class="col-md-6">
                            <div class="card card-grid-sm custom-card" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)),url(/images/yb/button1.png);">
                            	<div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                                	<h4 class="text-black"><a href="post-single-4.html" class="btn-link stretched-link text-reset">센터 소개</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        <!-- Card item START -->
                        <div class="col-md-6">
                            <div class="card card-grid-sm custom-card" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)),url(/images/yb/button2.png);">
                            	<div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                                	<h4 class="text-black"><a href="post-single-4.html" class="btn-link stretched-link text-reset">찾아오시는 길</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        <!-- Card item START -->
                        <div class="col-md-6">
                            <div class="card card-grid-sm custom-card" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)),url(/images/yb/button3.png);">
                            	<div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                                	<h4 class="text-black"><a href="post-single-4.html" class="btn-link stretched-link text-reset">공지사항</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        <!-- Card item START -->
                        <div class="col-md-6">
                            <div class="card card-grid-sm custom-card" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)),url(/images/yb/button4.png); ">
                            	<div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                                	<h4 class="text-black"><a href="post-single-4.html" class="btn-link stretched-link text-reset">문의하기</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main hero END -->
	
	<!-- Divider -->
    <div class="container" style="margin-top: 50px;"><div class="border-bottom border-primary border-2 opacity-1"></div></div>
	
    <!-- =======================
    Main content START -->
    <section class="position-relative">
        <div class="container" data-sticky-container>
            <div class="row">
                <!-- Main Post START -->
                <div class="col-lg-12">
                    <!-- Title -->
                    <div class="mb-3">
                        <h2 class="m-0"><i class="bi bi-hourglass-top me-2"></i> 공지사항</h2>
                        <p>영보재가요양센터의 공지사항을 확인하세요.</p>
                    </div>
                    <div class="row gy-3">
                        <!-- Card item START -->
                        <div class="col-sm-3">
                        	<div class="card border h-100">

								<!-- Card body START -->
								<div class="card-body p-3" style="height: 25vh;">
									<div class="d-flex align-items-center">
										<h6 class="card-title"><a href="post-single.html" class="btn-link text-reset fw-bold">공지사항 입니다.1</a></h6>
									</div>
									<p>공지사항 내용 입니다.</p>
								</div>
								<!-- Card body END -->
			
							</div>
                        </div>
                        <!-- Card item END -->
                        <!-- Card item START -->
                        <div class="col-sm-3">
                        	<div class="card border h-100">

								<!-- Card body START -->
								<div class="card-body p-3" style="height: 25vh;">
									<div class="d-flex align-items-center">
										<h6 class="card-title"><a href="post-single.html" class="btn-link text-reset fw-bold">공지사항 입니다.2</a></h6>
									</div>
									<p>공지사항 내용 입니다.</p>
								</div>
								<!-- Card body END -->
			
							</div>
                        </div>
                        <!-- Card item END -->
                        <!-- Card item START -->
                        <div class="col-sm-3">
                        	<div class="card border h-100">

								<!-- Card body START -->
								<div class="card-body p-3" style="height: 25vh;">
									<div class="d-flex align-items-center">
										<h6 class="card-title"><a href="post-single.html" class="btn-link text-reset fw-bold">공지사항 입니다.3</a></h6>
									</div>
									<p>공지사항 내용 입니다.</p>
								</div>
								<!-- Card body END -->
			
							</div>
                        </div>
                        <!-- Card item END -->
                        <!-- Card item START -->
                        <div class="col-sm-3">
                        	<div class="card border h-100">

								<!-- Card body START -->
								<div class="card-body p-3" style="height: 25vh;">
									<div class="d-flex align-items-center">
										<h6 class="card-title"><a href="post-single.html" class="btn-link text-reset fw-bold">공지사항 입니다.4</a></h6>
									</div>
									<p>공지사항 내용 입니다.</p>
								</div>
								<!-- Card body END -->
			
							</div>
                        </div>
                        <!-- Card item END -->
                        
                    </div>
                </div>
                <!-- Main Post END -->
                <!-- Sidebar START -->
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <div data-sticky data-margin-top="80" data-sticky-for="767">



                        <div class="row">

                        </div>
                    </div>
                </div>
                <!-- Sidebar END -->
            </div> <!-- Row end -->
        </div>
    </section>
    <!-- =======================
    Main content END -->

    <!-- Divider -->
    <div class="container"><div class="border-bottom border-primary border-2 opacity-1"></div></div>

    <!-- =======================
    Section START -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Title -->
                    <div class="mb-4 d-md-flex justify-content-between align-items-center">
                        <h2 class="m-0"><i class="bi bi-megaphone"></i> 포토갤러리</h2>
                    </div>
                    <div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
                        <div class="tiny-slider-inner"
                             data-autoplay="true"
                             data-hoverpause="true"
                             data-gutter="24"
                             data-arrow="true"
                             data-dots="false"
                             data-items-xl="4"
                             data-items-md="3"
                             data-items-sm="2"
                             data-items-xs="1">

                            <!-- Card item START -->
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="/images/blog/4by3/07.jpg" alt="Card image">
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">포토갤리리 입니다1</a></h5>
                                </div>
                            </div>
                            <!-- Card item END -->
                            <!-- Card item START -->
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="/images/blog/4by3/08.jpg" alt="Card image">
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">포토갤러리 입니다2</a></h5>
                                </div>
                            </div>
                            <!-- Card item END -->
                            <!-- Card item START -->
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="/images/blog/4by3/09.jpg" alt="Card image">
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">포토갤러리 입니다3</a></h5>
                                </div>
                            </div>
                            <!-- Card item END -->
                            <!-- Card item START -->
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="/images/blog/4by3/10.jpg" alt="Card image">
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">포토갤러리 입니다4</a></h5>
                                </div>
                            </div>
                            <!-- Card item END -->
                            <!-- Card item START -->
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="/images/blog/4by3/11.jpg" alt="Card image">
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">포토갤러리 입니다5</a></h5>
                                </div>
                            </div>
                            <!-- Card item END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Section END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short"></i></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/sticky-js/sticky.min.js"></script>
<script src="/vendor/plyr/plyr.js"></script>

<!-- Template Functions -->
<script src="/js/functions.js"></script>
</body>
</html>